<div class="m-4">

    <ul class="nav nav-tabs mt-5">
    <li class="nav-item">
        <a href="#" class="nav-link active">Home</a>
    </li>
    <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Directories</a>
        <div class="dropdown-menu">
            <a href=" " class="dropdown-item">Teaching Staff</a>
            <a href=" " class="dropdown-item">Faculties</a>
            <a href=" " class="dropdown-item">Departments</a>
            <a href=" " class="dropdown-item">Groups</a>
            <a href=" " class="dropdown-item">Disciplines</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">My Documents</a>
        <div class="dropdown-menu">
            <a href=" " class="dropdown-item">Individual plan</a>
            <a href=" " class="dropdown-item">Individual report</a>
            <a href=" " class="dropdown-item">Workload</a>
            <a href=" " class="dropdown-item">Status</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Activities</a>
        <div class="dropdown-menu">
            <a href=" " class="dropdown-item">Academic activities</a>
            <a href=" " class="dropdown-item">Research activities</a>
            <a href=" " class="dropdown-item">International cooperation</a>
            <a href=" " class="dropdown-item">Training activity</a>
        </div>
    </li>
        <li class="nav-item dropdown ms-auto" sec:authorize="isAuthenticated()">
            <a th:href="@{/signUp}" th:text ="${#authentication.getName()} " class="nav-link dropdown-toggle" data-bs-toggle="dropdown"></a>

            <div class="dropdown-menu dropdown-menu-end"><sign-out>
                <a th:href="@{/logout}" class="dropdown-item">SIGN OUT</a></sign-out>
            </div>
        </li>
</ul>
<hr>
</div>