<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title> Teacher </title>
  <link rel="stylesheet" href="../static/css/template.css">

</head>

<body>

<section class="nav-bar">
  <div class="nav-container">
    <div class="logo">
      <img src="../static/css/IITU-logo.png" class="logo-image">
    </div>
    <nav>
      <ul class="nav-list">
        <li>
          <a href="#!">Main </a>
        </li>
        <li>
          <a href="#!">My Documents</a>
          <ul class="nav-dropdown">
            <li>
              <a href="#!">Academic Load</a>
            </li>
            <li>
              <a href="#!">Individual Plan</a>
            </li>
            <li>
              <a href="#!">Individual Report</a>
            </li>
            <li>
              <a href="#!">Documents Status</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#!">Academic load</a>
        </li>
        <li>
          <a href="#!"> Scientific-research work </a>
          <ul class="nav-dropdown">
            <li>
              <a href="#!">1</a>
            </li>
            <li>
              <a href="#!">2</a>
            </li>
            <li>
              <a href="#!">3</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#!">username</a>
        </li>
        <li><sign-out>
            <a href="login.html">SIGN OUT</a></sign-out>
        </li>
      </ul>
    </nav>
  </div>
</section>

<div class = "footer">
  <a href = "">You entered as: (SIGN OUT)</a>
  <p>Your role: pocket paket</p>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="../../../../../../Desktop/front/scripts/script.js"></script>

</body>
</html>
