<!DOCTYPE html>
<html lang="en">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html xmlns:th = "http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <link th:href="@{/css/directories.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function(){
            // Activate tooltip
            $('[data-toggle="tooltip"]').tooltip();

            $("#search").on("keyup", function() {
                var term = $(this).val().toLowerCase();
                $("table tbody tr").each(function(){
                    $row = $(this);
                    var name = $row.find("td:nth-child(1)").text().toLowerCase();
                    console.log(name);
                    if(name.search(term) < 0){
                        $row.hide();
                    } else{
                        $row.show();
                    }
                });
            });
        });
    </script>
</head>

<div th:insert="~{fragments :: teacher_navbar}" sec:authorize="hasRole('ROLE_TEACHER')"> </div>
<div th:insert="~{fragments :: head_navbar}" sec:authorize="hasRole('ROLE_HEAD_DEP')"> </div>
<div th:insert="~{fragments :: admin_navbar}" sec:authorize="hasRole('ROLE_ADMIN')"> </div>


<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Manage Teachers</h2>
                    </div>

                    <div class="col-sm-6">
                        <a th:href="@{/users/add}" class="btn btn-outline-info" ><i class="material-icons">&#xE146;</i> <span>New Teacher</span></a>
                    </div>
                </div>
            </div>

            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Department</th>
                    <th>Degree</th>
                    <th >Position</th>
<!--                    <th>Role</th>-->
                    <th >Actions</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each = "teacher : ${teachers}">
                    <td>
                        <form th:id="${'updateForm' + teacher.id}" action="/users/edit" method="post"></form>
                        <input type="hidden" name="id" th:value="${teacher.id}" th:form="${'updateForm' + teacher.id}"/>
                        <input class="field" name="name" th:value="${teacher.name}" th:form="${'updateForm' + teacher.name}"/>
                    </td>
                    <td>
                        <input class="field" name="surname" th:value="${teacher.surname}" th:form="${'updateForm' + teacher.surname}"/>
                    </td>
                    <td>
                        <input class="field" name="email" th:value="${teacher.email}" th:form="${'updateForm' + teacher.email}"/>
                    </td>
                    <td>
                        <input class="field" name="department_id" th:value="${teacher.department_id}" th:form="${'updateForm' + teacher.department_id}"/>
                    </td>
                    <td>
                        <input class="field" name="degree" th:value="${teacher.degree}" th:form="${'updateForm' + teacher.degree}"/>
                    </td>
                    <td>
                        <input class="field" name="position" th:value="${teacher.position}" th:form="${'updateForm' + teacher.position}"/>
                    </td>
                    <td>
                        <button id="editBtn" class="edit" type="button" onclick="editRow(this)"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></button>
                        <button id="deleteBtn" class="delete" type="button" data-toggle="modal"
                                data-target="#deleteModal" th:attr="data-whatever=${teacher.id}"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                        </button>

                        <button id="saveBtn" class="edit" type="submit"  th:form="${'updateForm' + teacher.id}">
                            <i class="fa fa-check fa-2x"></i>
                        </button>
                        <button id="cancelBtn" class="delete" type="button"  onclick="cancelRow(this)">
                            <i class="fa fa-times fa-2x"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--&lt;!&ndash; Add Modal HTML &ndash;&gt;-->
<!--<div id="addModal" class="modal fade">-->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content">-->
<!--            <form class="needs-validation" novalidate="" action="/users/add" method = "post">-->
<!--                <div class="modal-header">-->
<!--                    <h4 class="modal-title">Add </h4>-->
<!--                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
<!--                </div>-->
<!--                <div class="modal-body">-->
<!--                    <div class="form-group">-->
<!--                        <label  class="form-label">Discipline Name</label>-->
<!--                        <input type="text" class="form-control" name="discipline" placeholder="" value="" required="">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label  class="form-label">Credits</label>-->
<!--                        <input type="text" class="form-control" name="credits" placeholder="" value="" required="">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label  class="form-label">Laboratory hours</label>-->
<!--                        <input type="text" class="form-control" name="laboratory_hours" placeholder="" value="" required="">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label  class="form-label">Lecture hours</label>-->
<!--                        <input type="text" class="form-control" name="lecture_hours" placeholder="" value="" required="">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label  class="form-label">Prectice hours</label>-->
<!--                        <input type="text" class="form-control" name="practice_hours" placeholder="" value="" required="">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label  class="form-label">SIS</label>-->
<!--                        <input type="text" class="form-control" name="sis" placeholder="" value="" required="">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">-->
<!--                    <input type="submit" class="btn btn-outline-secondary" value="Add">-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete</h5>
                <button type="button" class="close" data-dismiss="modal"></button>
            </div>
            <div id="deleteModalBody" class="modal-body">
                <p>Are you sure you want to delete this record?</p>
            </div>
            <div class="modal-footer">
                <form id="deleteForm" action="/users/delete" method="get"></form>
                <input type="hidden" name="id" form="deleteForm"/>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger" form="deleteForm">Delete</button>
            </div>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/script/script.js}"></script>
</body>
</html>